/*! all css starting */
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Comfortaa:wght@700&family=Merriweather:ital,wght@1,900&display=swap");

:root {
	--dark: #232323;
	--secondary: rgb(0, 156, 212);
	--primary: #85d5fd;
	--light: #dcfcff;
	--pure: white;
	--blur: rgba(200, 237, 251, 0.577);
}
/* *::selection {
	background-color: rebeccapurple;
} */
::-webkit-scrollbar {
	width: 15px;
	display: none;
}
/* Track */
::-webkit-scrollbar-track {
	background: #4c4ccd21;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 255, 0.989);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 10px;
}
.red {
	color: red;

	font-size: 15px;
	font-weight: 700;
}
* {
	/* font-family: "Comfortaa"; */
	padding: 0;
	margin: 0;
	/* box-sizing: border-box; */
}
a {
	text-decoration: none;
}
body {
	overflow-x: hidden;
	background-color: var(--light);
	/* border: 5px solid green; */

	min-height: 100vh;
}
/*! all css ending */

/*! Navbar Starting */
.fa-calculator {
	margin-left: 20px;
}
.navbar {
	background-color: var(--dark) !important;
	z-index: 11;
}
.navbar-brand {
	/* border: 2px solid black; */
	font-size: 30px;
	color: var(--pure) !important;
	font-weight: 600;
}
.nav-link,
.nav-link:visited {
	color: var(--pure) !important;
	font-size: 15px;
	transition: all ease 0s !important;
}

.nav-link:is(:hover, :active),
.nav-link:is(:hover, :active) .home-icon {
	background-color: var(--primary);
	border-radius: 6px;
	color: var(--dark) !important;
	fill: var(--dark);
}
.home-icon {
	fill: white;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 8px;
	transition: all ease 0s;
}

/*! Navbar Ending */

/*! ----------------- Main Starting Home Page ----*/
.mainsection {
	/* border: 2px solid rgb(148, 3, 3); */
	height: 60vh;
	width: 75vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.section-1 {
	/* border: 2px solid rgb(229, 4, 4); */
	height: 65vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-button {
	/* border: 4px solid rgb(208, 19, 19); */
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7vh;
	width: 28vw;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--primary);
	color: var(--dark);
	outline-style: solid;
	outline-width: 5px;
	outline-color: var(--secondary);
	transition: ease-in-out 0.1s;
	font-size: 17px;
	font-weight: 700;
}
.heading1 {
	/* border: 2px solid black; */
	width: 45vw;
	color: var(--dark);
	font-size: 26px;
	font-weight: bolder;
	font-family: "Arvo", serif;
}
.letter-1 {
	color: var(--secondary);
}
.calculator-icon {
	fill: var(--secondary);
	/* width: 30px;
	height: 30px; */
	margin-left: 5px;
	margin-bottom: 5px;
}
.login-button:is(:hover, :focus, :active) {
	outline-width: 5px;
	outline-color: var(--secondary);
	background-color: var(--secondary);
	outline-offset: 4px;
	color: var(--pure);
}
.login-button:is(:hover, :focus, :active) .teacher-icon,
.login-button:is(:hover, :focus, :active) .student-icon,
.login-button:is(:hover, :focus, :active) .admin-icon {
	width: 51px;
	height: 51px;
	fill: rgb(0, 0, 0);
}

.teacher-icon,
.student-icon,
.admin-icon {
	fill: var(--dark);
	/* width: 45px;
	height: 45px; */
	margin-right: 15px;
}
/*! ----------------- Main Ending -----------------*/
/*! Footer Starting */
.footer {
	margin-top: 20px;
	background-color: var(--dark);
	height: 16vh;
	/* border: 3px red solid; */
	position: relative;
	z-index: 11;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.f1 {
	/* border: 3px red solid; */
	height: 12vh;
	width: 100vw;
}
.f2 {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	/* border: 3px red solid; */
	height: 4vh;
	width: 100vw;
	color: var(--pure);
	font-size: 14px;
	font-family: monospace;
	font-weight: 600;
}
/*! Footer Ending */
.heading {
	margin-top: 5vh;
}
/*! ---------------- Admin page Starting ------- */
.section-2 {
	/* border: 2px solid rgb(226, 67, 67); */
	height: 64vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-container {
	/* border: #e92758 3px solid; */
	border-radius: 35px;
	/* background-color: var(--light); */
	height: 57vh;
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/* padding: 20px;
	border-radius: 10px;
	background-color:var(--blur);
	backdrop-filter: blur(7px); */
}
.submit-btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: clamp(45px, 7vh, 60px);
	width: clamp(90px, 15vw, 130px);
	padding: 10px;
	border-radius: 5px;
	background-color: var(--dark);
	color: var(--pure);
	outline-style: solid;
	outline-color: var(--light);
	transition: all ease-in-out 0.1s;
	font-size: 18px;
	border: none;
	margin-top: -20px;
}
.submit-btn:is(:hover, :active) {
	outline-style: solid;
	outline-width: 5px;
	outline-color: var(--dark);
	outline-offset: 4px;
	background-color: var(--secondary);
	color: var(--dark);
}
.form {
	/* border: #08D9D6 3px solid; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 40vh;

	/* padding: 10px; */
}
.form-input {
	/* background-color: var(--light); */
	padding-left: 10px;
	outline: none;
	border: none;
	border-radius: 6px;
	height: clamp(45px, 8vh, 60px);
	width: clamp(175px, 20vw, 20vw);
	height: 7vh;
}
.form-input:is(:active, :focus) {
	box-shadow: 0px 0px 5px 2px var(--secondary);
}

.students-section {
	min-height: 15vh;
}
/*! ---------------- Admin page Ending ------- */

.admindashboard {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 66vh;
	margin: 3.5px;
	/* border: #232323 solid; */
}
.admindashboard > div > div {
	/* border: 2px solid; */
	height: 20vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
.admindashboard > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 53vh;
	width: 30vw;
	margin: 3.5px;
	/* border: #232323 solid; */
	padding: 20px;
	border-radius: 10px;
	background-color: var(--blur);
	backdrop-filter: blur(7px);
}
/*! ---------------- Teacher page Starting ------- */
.section-3 {
	/* border: 2px solid black; */
	height: 65vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.domain {
	/* border: 2px solid black; */
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.students {
	/* border: 2px solid rgba(211, 6, 6, 0.829); */
	/* min-height: 10.8vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
}
.btn-container {
	/* border: 2px solid rgb(228, 13, 13); */
	height: 10vh;
	width: 35vw;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.day-container {
	height: 10vh;
	width: 50vw;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.button {
	/* padding: 14px; */
	/* flex-grow: 1; */
	height: 7vh;
	width: 7vw;
	background-color: var(--primary);
	color: var(--dark);
	outline: none;
	border: none;
	border-radius: 5px;
	transition: all ease-in-out 0.1s;
}
.button:hover {
	background-color: var(--dark);
	color: var(--pure);
	outline-style: solid;
	outline-width: 3px;
	outline-color: var(--dark);
	outline-offset: 2px;
}
.lecture-selected,
.day-selected,
.batch-selected {
	background-color: var(--dark);
	color: var(--pure);
}
th,
tr {
	text-align: center;
	font-size: 20px;
}
tr {
	font-weight: 600;
	/* border: 2px solid; */
	font-size: 20px;
}
td {
	padding: 10px;
}
th {
	padding: 10px;
	font-weight: 900;
	/* border: 2px solid rgb(228, 13, 13); */
}
.left {
	text-align: left;
}
.table {
	/* height: 65vh; */
	width: 45vw;
}
.see-attendance {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30vw;
}
.attendance-container {
	/* border: 3px solid; */
	margin-top: 40px;
	margin-bottom: 40px;
	/* margin-left: 30px; */
	/* margin-bottom: 10px; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 35vw; */
}
.actions {
	/* border: 2px solid rgb(63, 153, 51); */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 45vw;
}
.student-list {
	width: 100vw;
	min-height: 85vh;
	/* border: 2px solid rebeccapurple; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px;
}
.hide {
	display: none;
}

td span {
	background-color: #23232300 !important;
	position: relative;
}
.checkbox {
	display: none;
}
.label-checkbox {
	position: absolute;
	top: 50%;
	right: 0;
	left: -50%;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background-color: red;
	transform: translateY(-50%);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease transform, 0.2s ease background-color,
		0.2s ease box-shadow;
	overflow: hidden;
	z-index: 1;
}
.label-checkbox:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: 23px;
	height: 22px;
	margin: 0 auto;
	background-color: rgb(253, 227, 227);
	transform: translateY(-50%);
	border-radius: 50%;
	box-shadow: inset 0 5px 10px rgba(249, 242, 242, 0.642);
	transition: 0.2s ease width, 0.2s ease height;
}

.label-checkbox:active {
	transform: translateY(-50%) scale(0.9);
}

#tick_mark {
	position: absolute;
	top: 0px;
	right: 0;
	left: 0;
	width: 15px;
	height: 18px;
	margin: 0 auto;
	margin-left: 5px;
	transform: rotateZ(-40deg);
}

#tick_mark:before,
#tick_mark:after {
	content: "";
	position: absolute;
	background-color: #fff;
	border-radius: 2px;
	opacity: 0;
	transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
	left: 0;
	bottom: 0;
	width: 4px;
	height: 10px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
	transform: translateY(-68px);
}

#tick_mark:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
	transform: translateX(78px);
}

.checkbox:checked + .label-checkbox {
	background-color: #07d410 !important;
}

.checkbox:checked + .label-checkbox:before {
	width: 0;
	height: 0;
}

.checkbox:checked + .label-checkbox #tick_mark:before,
.checkbox:checked + .label-checkbox #tick_mark:after {
	transform: translate(0);
	opacity: 1;
}

.absent {
	font-size: 17px;
	font-weight: 700;
	width: 10vw;
	height: 7vh;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: red;
	background-color: rgb(253, 227, 227);
}
.absent:hover,
.absent:hover .absent-icon {
	background-color: red;
	color: white;
	fill: white;
}
.absent-icon {
	fill: red;
	width: 25px;
	height: 25px;
	margin-left: 5px;
}
.daily {
	font-size: 18px;
	font-weight: 700;
	width: 10vw;
	height: 7vh;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: rgb(255, 102, 0);
	background-color: rgb(252, 225, 205);
}
.daily:hover,
.daily:hover .daily-icon {
	background-color: rgb(255, 102, 0);
	color: white;
	fill: white;
}
.daily-icon {
	fill: rgb(255, 102, 0);
	width: 25px;
	height: 25px;
	margin-left: 5px;
	display: inline;
}
.overall {
	font-size: 17px;
	font-weight: 700;
	width: 10vw;
	height: 7vh;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: rgb(0, 119, 255);
	background-color: rgb(193, 219, 249);
}
.overall:hover,
.overall:hover .overall-icon {
	background-color: rgb(0, 119, 255);
	color: white;
	fill: white;
}
.overall-icon {
	fill: rgb(0, 119, 255);
	width: 25px;
	height: 25px;
	margin-left: 5px;
	display: inline;
}
.present {
	font-size: 17px;
	font-weight: 700;
	width: 10vw;
	height: 7vh;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: rgb(8, 160, 0);
	background-color: rgb(208, 253, 208);
}
.present:hover,
.present:hover .present-icon {
	background-color: rgb(8, 160, 0);
	color: white;
	fill: white;
}
.present-icon {
	fill: rgb(8, 160, 0);
	width: 25px;
	height: 25px;
	margin-left: 5px;
}
.download {
	font-size: 17px;
	font-weight: 700;
	width: 10vw;
	height: 7vh;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: rgb(0, 72, 159);
	background-color: rgb(180, 231, 251);
}
.download:hover,
.download:hover .download-icon {
	background-color: var(--secondary);
	color: white;
	fill: white;
}
.download-icon {
	fill: rgb(0, 72, 159);
	width: 25px;
	height: 25px;
	margin-left: 5px;
}

/*! ---------------- Teacher page Ending ------- */

.overall-data {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 3px solid green; */
	min-height: 39.5vh;
}
.all-attendance {
	transition: height 2s ease-in-out;
	user-select: none;
	border: 2px solid var(--dark);
	width: 97vw;
	background-color: var(--primary);
}
.table-heading {
	background-color: var(--dark);
	color: rgba(255, 255, 255, 0.949);
}
.all-attendance th {
	font-weight: 700;
	cursor: default;
	border: 1px solid var(--pure);
}
.all-attendance td {
	cursor: default;
	border: 1px solid var(--dark);
}
.above {
	transition: all 0.2s ease;
	background-color: #dcf7d4;
	color: rgb(6, 171, 0);
	font-weight: 700;
}
.above:hover {
	background-color: rgb(6, 171, 0);
	color: #dcf7d4;
}
.below {
	transition: all 0.2s ease;
	background-color: #fae8e8;
	color: red;
	font-weight: 700;
}
.below:hover {
	color: #fae8e8;
	background-color: red;
}
.medium {
	transition: all 0.2s ease;
	background-color: #fff5d6;
	color: rgb(231, 173, 0);
	font-weight: 700;
}
.medium:hover {
	background-color: rgb(231, 173, 0);
	color: #fff5d6;
}
.report {
	transition: all 0.2s ease;
	background-color: rgb(255, 228, 219);
}
.report:hover {
	background-color: rgb(252, 157, 125);
	cursor: pointer;
}
.report:active {
	transform: scale(0.99);
	cursor: pointer;
}

.bug-icon {
	height: 30px;
}
.hover {
	transition: all 0.2s ease;
	font-weight: 600;
}
.hover:hover {
	background-color: var(--secondary);
}

.daily-container {
	/* border: 3px solid red ; */
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.Day {
	font-size: 70px;
}
.daily-attendance {
	height: 60vh;
}
.daily-attendance th {
	background-color: var(--dark);
	color: white;
}
.yes {
	color: var(--dark);
	background-color: var(--secondary);
	font-size: 20px;
	font-weight: 700;
}
.no {
	color: var(--dark);
	background-color: var(--primary);
	font-size: 20px;
	font-weight: 700;
}
.yes:hover {
	color: var(--dark);
	background-color: var(--secondary);
}
.no:hover {
	color: var(--dark);
	background-color: var(--primary);
}
.daily-attendance th {
	font-weight: 700;
	cursor: default;
	/* border: 1px solid var(--pure) ; */
}
.side {
	padding-left: 20px;
	padding-right: 20px;
}
.up {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 3px solid green; */
	height: 10vh;
	margin-bottom: 18px;
}
.info > div {
	margin-left: 150px;
	/* border: 3px solid green; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70vw;
}
.inter-info {
	/* border: 3px solid red; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 10vh;
	gap: 10px;
}
.inter-info div {
	/* border: 3px solid blue; */
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-text {
	width: 10vw;
	font-size: 25px;
	font-weight: 700;
}
.box {
	width: 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	border-radius: 10px;
	font-size: 25px;
	font-weight: 700;
}

.green {
	color: #dcf7d4;
	background-color: rgb(6, 171, 0);
	border: 4px solid rgb(6, 171, 0);
}
.green:hover {
	color: rgb(6, 171, 0);
	background-color: #dcf7d4;
}
.Red {
	color: #fae8e8;
	background-color: red;
	font-weight: 700;
	border: 4px solid red;
}
.Red:hover {
	background-color: #fae8e8;
	color: red;
}
.yellow {
	color: #fff5d6;
	background-color: rgb(231, 173, 0);
	font-weight: 700;
	border: 4px solid rgb(231, 173, 0);
}
.yellow:hover {
	color: rgb(231, 173, 0);
	background-color: #fff5d6;
}

.function {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: solid 0.3em #e40d0d; */
	margin-left: 50px;
}
.h {
	font-size: 55px !important;
}
.name {
	/* border: solid 0.3em #e40d0d; */
	width: 10vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: 700;
	margin-right: 10px;
}
.search-box-con {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: solid 0.3em #000000; */
	/* width: 40vw; */
}
.search-box {
	font-size: 20px;
	border: solid 0.3em #000000;
	display: inline-block;
	position: relative;
	border-radius: 2.5em;
}
.search-box input[type="text"] {
	background-color: transparent;
	font-family: inherit;
	font-weight: bold;
	width: 2.5em;
	height: 2.5em;
	padding: 0.3em 2.1em 0.3em 0.4em;
	border: none;
	box-sizing: border-box;
	border-radius: 2.5em;
	transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}
.search-box input[type="text"]:focus {
	outline: none;
	width: 30em;
	transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type="text"]:not(:placeholder-shown) {
	width: 30em;
	margin-left: 10px;
	transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.search-box input[type="text"]:focus + button[type="reset"],
.search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
	transform: rotate(-45deg) translateY(0);
	transition: transform 150ms ease-out 800ms;
}
.search-box input[type="text"]:focus + button[type="reset"]:after,
.search-box
	input[type="text"]:not(:placeholder-shown)
	+ button[type="reset"]:after {
	opacity: 1;
	transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms,
		opacity 150ms ease 950ms;
}
.search-box button[type="reset"] {
	background-color: transparent;
	width: 1.4em;
	height: 1.4em;
	border: 0;
	padding: 0;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0.55em;
	right: 0.55em;
	transform: rotate(-45deg) translateY(2.2em);
	transition: transform 150ms ease-out 150ms;
}
.search-box button[type="reset"]:before,
.search-box button[type="reset"]:after {
	content: "";
	background-color: #000000;
	width: 0.3em;
	height: 1.4em;
	position: absolute;
}
.search-box button[type="reset"]:after {
	transform: rotate(90deg);
	opacity: 0;
	transition: transform 150ms ease-out, opacity 150ms ease-out;
}

.student-section {
	/* border: 3px solid; */
	min-height: 52.5vh;
	max-height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.student-section > div {
	/* border: 2px solid; */
}
.studentdata {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
	/* border: 2px solid; */
}
.er {
	color: red;
	font-weight: 700;
}
.answer {
	color: var(--secondary);
	font-weight: 700;
}
.question {
	color: var(--dark);
	font-weight: 700;
}

/*             >=278          */
@media only screen and (min-width: 279px) {
	.login-button {
		height: 7vh;
		width: 40vw;
		font-size: 15px;
	}
	.error {
		display: none;
	}
	.fa-calculator {
		margin-left: 10px;
	}
	.navbar-brand {
		transition: all ease-in-out;
		font-size: 20px;
	}
	.heading1 {
		font-size: 22px;
	}
	.footer {
		height: 28vh;
	}
	/* .f1 {
	} */
	.f2 {
		font-size: 13px;
	}
	.navbar-toggler-icon {
		font-size: 17px;
	}
}

@media only screen and (min-width: 360px) {
	.login-button {
		height: 7vh;
		width: 40vw;
		font-size: 16px;
	}
	.navbar-brand {
		transition: all ease-in-out;
		font-size: 22px;
	}
	.section-1 {
		height: 67.9vh;
	}
	.heading1 {
		font-size: 25px;
	}
	.footer {
		height: 25.1vh;
	}
	/* .f1 {
	} */
	.f2 {
		font-size: 14px;
	}
}

@media only screen and (min-width: 576px) {
	.login-button {
		height: 8vh;
		width: 25vw;
		font-size: 18px;
	}
	.navbar-collapse {
		/* border: 3px solid rgb(0, 255, 200); */
		position: absolute;
		right: 10px;
		width: 150;
		padding: 10px;
	}
	.nav-link {
		font-size: 18px;
		margin: 10px;
	}
	.section-1 {
		height: 69.2vh;
	}
	.heading1 {
		font-size: 28px;
	}
	.footer {
		height: 25.1vh;
	}
	/* .f1 {
	} */
	.f2 {
		font-size: 17px;
	}
}

@media only screen and (min-width: 820px) {
	.mainsection {
		height: 60vh;
	}
	.section-1 {
		height: 67vh;
		width: 100vw;
	}
	.login-button {
		height: 8vh;
		width: 25vw;
		font-size: 20px;
	}
	.heading1 {
		font-size: 30px;
	}
	.nav-link {
		font-size: 19px;
		margin: 13px;
	}
	.footer {
		height: 24.1vh;
	}

	/* .f1 {
	} */
	.f2 {
		height: 7vh;
		font-size: 20px;
	}
}
@media only screen and (min-width: 1000px) {
	.mainsection {
		height: 60vh;
	}
	.section-1 {
		height: 64vh;
		width: 100vw;
	}
	.login-button {
		height: 9vh;
		width: 25vw;
		font-size: 24px;
	}
	.heading1 {
		font-size: 33px;
	}
	.nav-link {
		font-size: 19px;
		margin: 13px;
	}
	.footer {
		height: 24.8vh;
	}
	/* .f1 {
	} */
	.f2 {
		height: 7vh;
		font-size: 20px;
	}
}
@media only screen and (min-height: 1000px) and (min-width: 760px) {
	.section-1 {
		height: 70vh;
	}
	.login-button {
		height: 8vh;
		width: 26vw;
		font-size: 26px;
	}
	.navbar-brand {
		transition: all ease-in-out;
		font-size: 29px;
	}
	.heading1 {
		font-size: 40px;
	}
	.nav-link {
		font-size: 21px;
		margin: 13px;
	}
}
@media only screen and (min-height: 1300px) {
	.section-1 {
		height: 70.9vh;
	}
	.login-button {
		height: 8vh;
		width: 26vw;
		font-size: 29px;
	}
	.navbar-brand {
		transition: all ease-in-out;
		font-size: 30px;
	}
	.heading1 {
		font-size: 40px;
	}
	.nav-link {
		font-size: 21px;
		margin: 13px;
	}
}
@media only screen and (max-width: 279px) {
	.footer,
	.section-1,
	.navbar,
	.area,
	.section-1,
	.section-2,
	.section-3,
	.teacher {
		display: none;
	}
	body {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--pure);
		color: rgb(145, 0, 0);
	}
	.error {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.fa-triangle-exclamation {
		/* display: block; */
		font-size: 150px;
	}
}
@media only screen and (max-height: 400px) {
	.footer,
	.section-1,
	.navbar,
	.area,
	.section-1,
	.section-2,
	.section-3 {
		display: none;
	}
	body {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--pure);
		color: rgb(145, 0, 0);
	}
	.error {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.fa-triangle-exclamation {
		/* display: block; */
		font-size: 150px;
	}
}

.area {
	z-index: -1;
	background-color: var(--light);
	width: 100vw;
	height: 90vh;
	position: absolute;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color: var(--secondary);
	animation: animate 10s linear infinite;
	bottom: -90px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 38px;
	height: 38px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 38px;
	height: 38px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 12s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 38px;
	height: 38px;
	animation-delay: 1s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 100px;
	height: 100px;
	animation-delay: 2s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 55px;
	height: 55px;
	animation-delay: 1s;
	animation-duration: 15s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 75px;
	height: 75px;
	animation-delay: 1s;
	animation-duration: 15s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

#preloader {
	top: 0;
	bottom: 0;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.318);
	backdrop-filter: blur(10px);
	font-family: "Roboto", Arial;
	z-index: 10;
	overflow: hidden;
	padding-bottom: 120px;
}

iframe {
	display: none;
}

.pencil {
	display: block;
	width: 13em;
	height: 13em;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
	transform: rotate(-90deg);
}

.pencil__body1 {
	animation-name: pencilBody1;
}

.pencil__body2 {
	animation-name: pencilBody2;
}

.pencil__body3 {
	animation-name: pencilBody3;
}

.pencil__eraser {
	animation-name: pencilEraser;
	transform: rotate(-90deg) translate(49px, 0);
}

.pencil__eraser-skew {
	animation-name: pencilEraserSkew;
	animation-timing-function: ease-in-out;
}

.pencil__point {
	animation-name: pencilPoint;
	transform: rotate(-90deg) translate(49px, -30px);
}

.pencil__rotate {
	animation-name: pencilRotate;
}

.pencil__stroke {
	animation-name: pencilStroke;
	transform: translate(100px, 100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {
	from,
	to {
		stroke-dashoffset: 351.86;
		transform: rotate(-90deg);
	}

	50% {
		stroke-dashoffset: 150.8;
		/* 3/8 of diameter */
		transform: rotate(-225deg);
	}
}

@keyframes pencilBody2 {
	from,
	to {
		stroke-dashoffset: 406.84;
		transform: rotate(-90deg);
	}

	50% {
		stroke-dashoffset: 174.36;
		transform: rotate(-225deg);
	}
}

@keyframes pencilBody3 {
	from,
	to {
		stroke-dashoffset: 296.88;
		transform: rotate(-90deg);
	}

	50% {
		stroke-dashoffset: 127.23;
		transform: rotate(-225deg);
	}
}

@keyframes pencilEraser {
	from,
	to {
		transform: rotate(-45deg) translate(49px, 0);
	}

	50% {
		transform: rotate(0deg) translate(49px, 0);
	}
}

@keyframes pencilEraserSkew {
	from,
	32.5%,
	67.5%,
	to {
		transform: skewX(0);
	}

	35%,
	65% {
		transform: skewX(-4deg);
	}

	37.5%,
	62.5% {
		transform: skewX(8deg);
	}

	40%,
	45%,
	50%,
	55%,
	60% {
		transform: skewX(-15deg);
	}

	42.5%,
	47.5%,
	52.5%,
	57.5% {
		transform: skewX(15deg);
	}
}

@keyframes pencilPoint {
	from,
	to {
		transform: rotate(-90deg) translate(49px, -30px);
	}

	50% {
		transform: rotate(-225deg) translate(49px, -30px);
	}
}

@keyframes pencilRotate {
	from {
		transform: translate(100px, 100px) rotate(0);
	}

	to {
		transform: translate(100px, 100px) rotate(720deg);
	}
}

@keyframes pencilStroke {
	from {
		stroke-dashoffset: 439.82;
		transform: translate(100px, 100px) rotate(-113deg);
	}

	50% {
		stroke-dashoffset: 164.93;
		transform: translate(100px, 100px) rotate(-113deg);
	}

	75%,
	to {
		stroke-dashoffset: 439.82;
		transform: translate(100px, 100px) rotate(112deg);
	}
}

.search-form,
#search,
.caret {
	margin: auto;
}
.search-form {
	/* border: 2px solid; */
	display: flex;
	height: 20vh;
	justify-content: space-between;
	align-items: center;
	max-width: 38vw;
}
#search,
.caret {
	display: block;
	transition: all calc(1s * 0.5) linear;
	font-size: 20px;
}

#search {
	border: 0;
	color: var(--dark);
	font-weight: 700;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#search:focus,
#search:valid {
	border: 1px solid;
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(1s * 0.25);
	transition-delay: calc(1s * 0.25);
	width: 100%;
	height: 3em;
}
#search:focus {
	border: 1px solid;
	animation: showCaret 1s steps(1);
	outline: transparent;
}
#search:focus + .caret,
#search:valid + .caret {
	animation: handleToCaret 1s linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0, -1em) rotate(-180deg) translate(7.5em, -0.25em);
}
#search::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	margin-top: -7px;
	/* border: 2px solid; */
	text-align: center;
	/* width: 100%; */
	font-weight: 700;
	/* margin: 10px; */
	color: var(--dark);
	font-size: 30px;
}
.caret {
	background: var(--dark);
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.35em;
	height: 1em;
	transform: translate(0em, -1em) rotate(-45deg) translate(0, 0.875em);
	transform-origin: 50% 0;
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--secondary);
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0, -1em) rotate(-180deg) translate(0, 0.875em);
	}
	50%,
	62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(6.8em, 2.5em);
	}
	75%,
	99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(6.8em, -0.25em);
	}
	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(6.8em, 0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0, -1em) rotate(-180deg) translate(6.8em, -0.25em);
	}
}

.searchbutton {
	/* border: 3px solid; */
	height: 10vh;
	width: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-conteiner {
	display: flex;
	justify-content: center;
	--color-text: #ffffff;
	/* --secondary: #ff135a; */
	--color-outline: #2600ff80;
	--color-shadow: #00000080;
}

.btn-content {
	display: flex;
	align-items: center;
	padding: 5px 30px;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: var(--color-text);
	background: var(--secondary);
	transition: 1s;
	border-radius: 100px;
	box-shadow: 0 0 0.2em 0 var(--secondary);
}

.btn-content:hover,
.btn-content:focus {
	transition: 0.5s;
	-webkit-animation: btn-content 1s;
	animation: btn-content 1s;
	outline: 0.1em solid transparent;
	outline-offset: 0.2em;
	box-shadow: 0 0 0.4em 0 var(--secondary);
}

.btn-content .icon-arrow {
	transition: 0.5s;
	margin-right: 0px;
	transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
	transition: 0.5s;
	margin-right: 25px;
}

.icon-arrow {
	width: 20px;
	margin-left: 15px;
	position: relative;
	top: 6%;
}

/* SVG */
#arrow-icon-one {
	transition: 0.4s;
	transform: translateX(-60%);
}

#arrow-icon-two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
	animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
	0% {
		fill: white;
	}

	50% {
		fill: var(--secondary);
	}

	100% {
		fill: white;
	}
}

/* Button animations */
@-webkit-keyframes btn-content {
	0% {
		outline: 0.2em solid var(--secondary);
		outline-offset: 0;
	}
}

@keyframes btn-content {
	0% {
		outline: 0.2em solid var(--secondary);
		outline-offset: 0;
	}
}

[type="date"] {
	background: #fff
		url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
		95% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
	display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

label {
	display: block;
	margin-bottom: 10px;
}
input[type="date"] {
	border: 1px solid #009793;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 10px;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
	width: 150px;
	height: 30px;
}
